<%= form_with(model: document) do |form| %>
  <% if document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
    <%= form.label :xlsx_file, 'Upload XLSX file' %>
    <%= form.file_field :xlsx_file, accept: '.xlsx' %>
  </div>

  <div>
    <%= form.label :keywords, style: "display: block" %>
    <%= form.text_area :keywords %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
