<div id="<%= dom_id scrap %>">
  <p>
    <strong>Keywords:</strong>
    <%= scrap.keywords %>
  </p>

  <p>
    <strong>Urls:</strong>
    <%= scrap.urls %>
  </p>

<% scrap.results.each do |item| %>
  <div class="data-item">
    <h2>URL: <%= item["URL"] %></h2>
    <div class="categories">
      <% item["Found Categories"].each do |category, links| %>
        <h3><%= category %></h3>
        <ul>
          <% links.each do |link| %>
            <li><a href="<%= link %>"><%= link %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>

</div>
