<p style="color: green"><%= notice %></p>

<h1>Scraps</h1>

<table style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr>
      <th style="border: 1px solid #000; padding: 8px;">Keywords</th>
      <th style="border: 1px solid #000; padding: 8px;">Urls</th>
      <th style="border: 1px solid #000; padding: 8px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @scraps.each do |scrap| %>
      <tr>
        <td style="border: 1px solid #000; padding: 8px;"><%= scrap.keywords %></td>
        <td style="border: 1px solid #000; padding: 8px;"><%= scrap.urls %></td>
        <td style="border: 1px solid #000; padding: 8px;"><%= link_to "Show this scrap", scrap %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New scrap", new_scrap_path %>
